.button-group
  = link_to_show_icon(object)
  - if current_user.admin? || current_user.id != (object.is_a?(User) ? object.id : object.user_id)
    = link_to_edit_icon(object)
    = link_to_delete_icon(object)