- if f.object.persisted?
  .row
    = f.label :created_at
    .input-group
      = f.datetime_select :created_at, {order: [:day, :month, :year], date_separator: ' / ', selected: f.object.created_at}, class: 'input-group-field small-2', disabled: true
  .row
    = f.label :updated_at
    .input-group
      = f.datetime_select :updated_at, {order: [:day, :month, :year], date_separator: ' / ', selected: f.object.created_at}, class: 'input-group-field small-2', disabled: true