%hr
.grid-container
  .grid-x.grid-padding-x
    .small-3.cell
      %b Name
    .small-2.cell
      %b Amount
    .small-4.cell
      %b Description
    .small-2.cell
      %b Transfer
    .small-1.cell
      %b Action
%hr
- @transactions.each do |transaction|
  = render 'transaction_form', transaction: transaction
  %hr