%h1 Listing sub_categories

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @sub_categories.each do |sub_category|
      %tr
        %td= link_to 'Show', sub_category
        %td= link_to 'Edit', edit_sub_category_path(sub_category)
        %td= link_to 'Destroy', sub_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sub category', new_sub_category_path
