%h1
  <%= plural_table_name.titleize %>
  = add_new_button('Add New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path)
<%- attributes = singular_table_name.classify.constantize.column_names -%>

%table#dttb-<%= plural_table_name %>.responsive.nowrap.table.table-hover{ data: { source: datatable_<%= table_name %>_path(format: :json) } }
  %thead
    %tr
<% attributes.each do |attribute| -%>
      %th <%= attribute.titleize %>
<% end -%>
      %th Actions
  %tbody