#offCanvasLeft.off-canvas.position-left{"data-off-canvas" => ""}
  %ul.menu.vertical
    %li
      %a{:href => "#"} left One
    %li
      %a{:href => "#"} Two
    %li
      %a{:href => "#"} Three
    %li
      %a{:href => "#"} Four
