#ajax-reveal.reveal{'data-reveal': true, 'aria-labelledby':"modalTitle", 'aria-hidden': true, role: "dialog"}
  .reveal-content
  %button.close-button{'aria-label': "Close modal", type: :button, data: {close: true}}
    %span{'aria-hidden': true} &times;
