#offCanvasRight.off-canvas.position-right{"data-off-canvas" => ""}
  %ul.menu.vertical
    %li
      %a{:href => "#"} Right One
    %li
      %a{:href => "#"} Two
    %li
      %a{:href => "#"} Three
    %li
      %a{:href => "#"} Four
