#offCanvasRight.off-canvas.position-right{"data-off-canvas" => "", 'data-transition': 'overlap'}
  - if user_signed_in?
    .card
      = image_tag 'rupee'
      .card-section
        = current_user.email
  %ul.menu.vertical
    = render 'devise/menu/registration_items'
    = render 'devise/menu/login_items'