#offCanvasRight.off-canvas.position-right{"data-off-canvas" => "", 'data-transition': 'overlap'}
  - if user_signed_in?
    .card
      = image_tag 'rupee'
      .card-section
        = current_user.email
  %ul.menu.vertical
    %li
      %a{:href => "#"} Right One
    %li
      %a{:href => "#"} Two
    %li
      %a{:href => "#"} Three
    %li
      %a{:href => "#"} Four
