.title-bar
  .title-bar-left
    %button.menu-icon{"data-open" => "offCanvasLeft", :type => "button"}
    %span.title-bar-title ExpenseTracker
  .title-bar-right
    %button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
